.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 1px solid red;
  max-width: 100%;
  }
  
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(200, 8, 8, 0.2);
  }
  
  /* Media Queries */
  
  @media screen and (min-width: 768px) {
  .card {
  width: 40%;
  }
  }